@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 50%;
    --accent: 240 5% 90%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 80%;
    --input: 240 5% 95%;
    --ring: 262.1 83.3% 57.8%;

  --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 0, 0%, 0%;
    --card-foreground: 210 20% 98%;
    --popover: 0, 0%, 0%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 5% 65%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 6% 10%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 240 6% 10%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 5% 26%;
    --input: 240 6% 10%;
    --ring: 262 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-secondary/20;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply relative min-h-screen bg-background transition-colors font-merriweatherSans text-foreground;
  }
  .ripple {
    @apply pointer-events-none absolute animate-ripple rounded-full;
  }
}
